accelerate
tfrecord
six
numpy
slimit
psutil
fastBPE
javalang
submitit
dpu-utils
astunparse
stringcase
scikit-learn
torch
transformers
fairseq
tree_sitter
tensorboard
sentencepiece
tensorboardX
sacrebleu