six
numpy
slimit
psutil
fastBPE
javalang
submitit
dpu-utils
astunparse
stringcase
scikit-learn
torch==1.10
transformers==4.11.3
fairseq==0.10.2
tree_sitter
tensorboard
sentencepiece
tensorboardX
sacrebleu==1.5.1